body {
  background: #fdfdfd; 
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px; 
}

.invalid-feedback {
  display: block; 
}

.tabs{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.tab-item{
  display: flex;
  flex-grow:1;
  flex-basis: 0;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.tab-item:after{
  content: '';
  height: 2px;
  width: 100%;
  background: #b5b5b5;
  position: absolute;
  left: 50%;
  top: 15px;
  z-index:-1;
}
.tab-item:last-child:after{
  content: none;
}

.tab-item__index{
  width: 35px;
  height:35px;
  font-weight:700;
  border-radius: 50%;
  background: #b5b5b5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.tab-item.active .tab-item__index{
  background: #19ddfe;
  border: 4px solid #f26120;

}

.tab-item__title{
  font-weight:700;
}

.step{
  position: relative;
}
.step.active{
  display: block;
}

.avatar{
  width: 100%;
  height:auto;
  margin-bottom: 20px;
}

.final img{
  width: 100%;
}
.final table td:first-child{
  font-weight: 700;
}